
#myholder{
    border: 1px solid cornflowerblue;
    float:left;
}
#preview{
    border: 1px solid cornflowerblue;
    float:left;
}
#tools {
    border: 1px solid cornflowerblue;
    float:left;
    width: 290px;
    height: 288px;
    padding-left: 10px;
    padding-top: 10px;
}
#menu-item{
    border: 1px solid cornflowerblue;
    float:left;
    width:198px;
    height: 298px;
}
